<h1> Welcome to Blood Bank management System</h1>
<h2>Blood is a life drop...<h2>

        <body>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="login">

                        <div class="form">
                            <div class="form-group">

                                <a routerLink="/user-login" class="btn btn-danger pull-right">Donor login</a>
                                <a routerLink="/admin-login" class="btn btn-danger pull-left">Admin Login</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </body>